<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>M07 Guestbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheet.css">
</head>

<body class="container">
    <h1 class="head">
        <span id="guest"> Guestbook</span>
        <a href="/new-entry" class="btn btn-primary right float-right">
            Write in the guestbook
        </a>
    </h1>
    