<% include header %>
    <% if (entries.length) { %>
        <% entries.forEach(function(entry) { %>
            <div class="card">
                <div class="card-header">
                    <h6>
                        <%= entry.title %>
                            <div class="text-muted float-right">
                                <%= entry.published %>
                            </div>
                    </h6>
                </div>
                <div class="card-body">
                    <%= entry.content %>
                </div>
            </div>


            <% }) %>
                <% } else { %>
                    No entries!
                    <a href="/new-entry">Add one!</a>
                    <% } %>
                        <% include footer %>