.right {

    margin-top: 1%; 
}
.card {
    margin-bottom: 2%;
    box-shadow: 2px 2px 5px black ;
}
.head {
    padding-bottom: 10px;
}
.text-muted {
font-size: .8rem;
}
body{
    background-color: #4286f4;
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}
#guest {
    color: white;
}